# Released package versions as of September 6, 2022
# when run_wav2vec2_pretraining_no_trainer.py was last updated
accelerate == 0.12.0
transformers == 4.21.3
librosa
# But need at least datasets 2.5.0 for audiofolder
datasets == 2.5.2
bitsandbytes==0.35.4
wandb == 0.13.4
